@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(q: String, results: List[BusinessResult])

@*
 * Call the the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Business Results") {

	<form action="/business/results" method="GET"> 
	<input type="text" value="@q" name="q" />
	</form>
	<table>
		<thead>
			<tr><th>Business Name</th><th>Address</th><th>Score</th></tr>
		</thead>
		<tbody>
			@for(result <- results) {
			  <tr><td>@result.name</td><td></td><td>@result.score</td></tr>
			}
		</tbody>
	</table>
}
